<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <title>Title</title>
    <%- include(viewPath('layouts/styles')) -%>
    <%- style %>
</head>
<body>
<%- include(viewPath('layouts/header')) -%>
<%- body %>
<%- include(viewPath('layouts/footer')) -%>

<%- include(viewPath('layouts/scripts')) -%>
<%- script %>
</body>
</html>
